*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
    width: 100%;
   
}

.top{
    background-color: white;
    height: 40%;
    box-shadow: 0px 5px 20px lightgrey;
    position: sticky;
    top: 0;
    margin-bottom: 0px;
    width: 100%;
}

h1{

    text-align: center;
    margin-left: 0%;
    margin-right: -40%;
    font-size: 50px;
    font-family: 'Antic Didone', serif;
    letter-spacing: 10px;

    
    
}


.container1{        
    height: 100%;
    width: 50%;
    margin-left: 30%;
    margin-right: 0%;
    margin-top: -10%;
  
    
}

.tents {
    top: -650px;
    margin-left: 50px;
    margin-top: 0%;
    height:100%;
    width: 100%;
}

.overlap {
    top: 250px;
    margin-left: -100px;
    margin-top: -120%;
    height: 100%;
    width: 100%;
}




.productbox{
    height: 400px;
    width: 300px;
    margin-left: 10%;
    margin-right: 0%;
    margin-top: 20%;

}

.productbox2{
    height: 300px;
    width: 300px;
    margin-left: 40%;
    margin-right: -40%;
    margin-top: -37%;

}




.greenbag{
    position:relative;
    top: 100px;
    height: 40%;
    width: 40%;
    left: 20px;
    box-shadow: 0px 5px 20px lightgrey;
}


.whitebag{
    position:relative;
    top: 100px;
    height: 40%;
    width: 40%;
    left: 20px;
    box-shadow: 0px 5px 20px lightgrey;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .greenbag:hover .overlay {
    opacity: 1;
  }

.paragraph {
    position:sticky;
    margin-top: 5%;
    height: 100%;
    width: 40%;
    margin-left: 55%;
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;


}

  .greenbagtext {
    position:sticky;
    margin-top: -35%;
    height: -200%;
    width: 40%;
    margin-left: 55%;
    text-align: left;
    letter-spacing: 7px;
    font-family: 'Open Sans', sans-serif;

  }

h2 {
    text-align: left;
    margin-left: 0%;
    margin-right: -30%;
    font-size: 20px;
    letter-spacing: 7px;
    font-family: 'Open Sans', sans-serif;


  
}